h1, h2, h3, h4, h5, h6,button {
    font-weight: 600;
}

p {
    font-weight: 400;
}

/* img {
    ONLY REMOVE THIS WHEN STUFF IS WEIRD
    width: 100%;
} */


body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
}

/* HELPER CLASSES */

.lg-padding-bot {
    padding-bottom: 8%;
}

.md-padding-bot {
    padding-bottom: 5%;
}

.sm-padding-bot {
    padding-bottom: 3%;
}

.lg-padding-top {
    padding-top: 8%;
}

.md-padding-top {
    padding-top: 5%;
}

.sm-padding-top {
    padding-top: 3%;
}

/* .center-obj {
    margin: auto;
    text-align:center; 
} */






/* SPECIFIC CHANGES TO CLASSES */

.navbar-brand {
    font-weight: 700;
    font-size: 3rem;
}

.navbar {
    padding-top: 2%;
    /* padding-left: 8%;
    padding-right: 8%; */
    padding-bottom: 2%;
}

.main-btn {
    margin-right: 3%;
    margin-bottom: 4%;
}

.main-text {
    margin-top: auto;
    margin-bottom: auto;
}

.main-img {
    width: 80%;
    display: block;
    margin: auto;
    border-radius: 1.3rem;
}

.project-img {
    width: 100%;
}

.project-mid-card {
    margin-left: auto;
}

.project-arrow {
    font-size: 3rem;
}

.card {
    border: 0;
}

/* THIS COULD BE A TEMPORARY CHANGE */

@media (max-width: 990px) {

    .main-text {
        text-align: center;
    }

    .main-img {
        width: 70%;
    }

    .main-name-design, .project-img, .project-arrow {
        display: none;
    }

    .project-cards {
        /* res/placeholder-img/ph-vertical.jpg */
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.73)),url('res/placeholder-img/ph-vertical.jpg');
        background-position: center;
        background-size: cover;
        color: white;
    }

    .card {
        background-color: rgba(255, 255, 255, 0.301);
        margin-bottom: 2%;
    }

    .project-last-card {
        margin-bottom: 0%;
    }
}